@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,300;1,400&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto',sans-serif;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    /*overflow: hidden;*/
    margin:0;

}

.container{
    border: 2px solid #000000;
    margin: 30px auto; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.head {
    border: 2px solid blue;
    width: auto;
    height:auto;
    padding: 5px 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-participant{
    display: flex;
    flex-wrap: nowrap;
    margin: 5px 0px;
}

#inputPart{
    width: 90px;
    margin: 0px 10px;
}

.btn{
    margin-left: 30px;
}

.participant{
    width:150px;
    margin:5px;   
    border: 2px solid black
}

.delete-icon{
    margin-left: 20px;
    cursor: pointer;
}

/*purchase */

.purchase input{
    width:80px;
}

.purchase-title{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr  3fr ;
    grid-template-rows: 1fr 1fr;
    height: auto;

}

.concept{
    grid-column: 1 / 2;  
    grid-row: 1 / 3;
    display:flex;
    align-items: center;
    justify-content: center;
    border:2px solid red;
}
.amount{
    grid-column: 2 / 3;  
    grid-row: 1 / 3; 
    display:flex;
    align-items: center;
    justify-content: center;
    border:2px solid red;
    font-size: 35px;
}

.pWP {
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    border:2px solid red;
    grid-column: 3 / 4;  
    grid-row: 1 / 3; 
}
.pAT{
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    border:2px solid red;
    grid-column: 4 / 7;  
    grid-row: 1 / 2; 
}


.purchase-afect-participant {
    border:2px solid red;
    grid-column: 4 / 7;  
    grid-row: 2 / 3; 
    margin-bottom:10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    height: auto;
    width: auto;

}
.purchase-afect-participant div{
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
}
.purchase {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr  3fr ;
    grid-template-rows: 1fr;
    width: 100%;
    height: auto;
    

}
.input-purchase{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 3fr;
    border:2px solid greenyellow;
}



.purchase-concept{
    grid-column: 1 / 2;  
    grid-row: 1 / 2; 
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    border:2px solid pink;
}

.purchase-amount{
    grid-column: 2 / 3;  
    grid-row: 1 / 2; 
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    border:2px solid pink;
    
}
.purchase-pWP{
    grid-column: 3 / 4;  
    grid-row: 1 / 2;
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    border:2px solid pink;
}
.purchase-afect-color{
    grid-column: 4 / 7;  
    grid-row: 1 / 2;
    display: flex;
    justify-content: space-evenly;
    border:2px solid red;
}


.square{
    display: flex;
    align-items: center;
    justify-content: center;
    border: silver 2px solid;
    border-radius: 3px;
    width: 22px;
    height: 25px; 
    opacity: 0.2;
    background-color: silver;
}

.square.activate{
    background-color: rgb(168, 202, 117);
    border-color: black;
    opacity: 1;
}

/*Personal Balance */

.personal-balance-title{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.personal-balance-title div{
    justify-self: center;
    margin: 15px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.personal-balance-participant{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    border: 2px solid violet;
}

.personal-balance-participant div{
    justify-self: center;
    align-self: center;
    margin: 15px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
}
/*Several Pay */

.severance-pay-head{
    display:flex;
    align-items: center;
    justify-content: center;
}

.severance-pay-title{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.severance-pay-title div{
    justify-self: center;
    margin: 15px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.severance-pay-row{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    border: 2px solid violet;
}

.severance-pay-row div{
    justify-self: center;
    align-self: center;
    margin: 15px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
}